<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{MM-dd HH:mm:ss} %m  (%F:%L) \n"/>
        </layout>
    </appender>

    <appender name="ERRORFILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="../logs/log4j-error.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="ERROR"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{MM-dd HH:mm:ss} %m  (%F:%L) \n"/>
        </layout>
    </appender>

    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="../logs/log4j.log"/>
        <param name="Append" value="true"/>
        <param name="Threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p %d{MM-dd HH:mm:ss} %m  (%F:%L) \n"/>
        </layout>
    </appender>

    <logger name="org.springframework.transaction">
        <level value="ERROR"/>
    </logger>

    <logger name="org.springframework.ldap.transaction">
        <level value="ERROR"/>
    </logger>

    <logger name="cn.sh.ideal">
        <level value="INFO"/>
    </logger>

    <logger name="druid.sql.Statement">
        <level value="ERROR"/>
    </logger>

    <root>
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="ERRORFILE"/>
    </root>

</log4j:configuration>
